* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  
  
  #start-button {
    background: radial-gradient(circle, rgb(231, 229, 209) 0%, rgba(92, 20, 130, 0.954) 100%);
    border-radius: 5px;
    color: #0a0a0a;
    cursor: pointer;
    font-size: 3em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: white;
    color: rgb(87, 16, 118);
    text-shadow: 2px 0px #0a0a0a;
  }
  
  footer {
    padding: 40px;
    margin-top: 10rem;
    text-align: center;
    background: white;
    color: rgb(87, 16, 118);
    text-shadow: 2px 0px #0a0a0a;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 0px;
    background-color: white;
    border-radius: 8px;
  }
  
  .questions {
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:0px;
    margin-left: 320px;
    border:solid;
    text-align: center;
    padding: 05px;
    width: 40vw;
    height: 23vw;
  }
  
  .option{
    background: rgba(92, 20, 130, 0.954);
    border-radius: 10px;
    color: #fffbfb;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.10px;
    line-height: 5px;
    max-width:fit-content;
    padding: 10px 20px;
    text-align: center;

  }

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}


  .start {

    flex:0 0 100%;
    text-align:center;
    padding-top: -300px
    
  }
  
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 100px;
    padding: 10px;
    position:relative;
    margin-top: -90px;
    background: white;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .timer-text {
    padding: 5px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
    .questions {
        margin: auto;
        padding: 20px;
        height:min-content;
        width: min-content;

    }

    .timer {
        margin: auto;
    }

    .option {
        flex-direction: column;
        flex:auto;
        margin-bottom: 10px;
        margin-top: 10px;
        min-height: min-content;
        line-height: 1rem;
    }

    form {
      max-width: 70% ;
      margin: auto;
    }
  } 
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  

  
    .timer {
      height: 200px;
    }
   
  }
